<a href="https://colab.research.google.com/github/EllieMwangi/FIFA-Match-Prediction/blob/master/FIFA_Match_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Exploration

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import datetime as dt

sns.set()
%matplotlib inline
plt.rcParams['figure.figsize'] = (10.0, 8.0)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Load data
rank = pd.read_csv('fifa_ranking.csv')
results = pd.read_csv('results.csv')

In [3]:
# Preview data
rank.head()

   rank country_full  ... confederation   rank_date
0     1      Germany  ...          UEFA  1993-08-08
1     2        Italy  ...          UEFA  1993-08-08
2     3  Switzerland  ...          UEFA  1993-08-08
3     4       Sweden  ...          UEFA  1993-08-08
4     5    Argentina  ...      CONMEBOL  1993-08-08

[5 rows x 16 columns]

In [4]:
rank.tail()

       rank country_full  ... confederation   rank_date
57788   206     Anguilla  ...      CONCACAF  2018-06-07
57789   206      Bahamas  ...      CONCACAF  2018-06-07
57790   206      Eritrea  ...           CAF  2018-06-07
57791   206      Somalia  ...           CAF  2018-06-07
57792   206        Tonga  ...           OFC  2018-06-07

[5 rows x 16 columns]

In [5]:
results.head()

         date home_team away_team  ...     city   country neutral
0  1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1  1873-03-08   England  Scotland  ...   London   England   False
2  1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3  1875-03-06   England  Scotland  ...   London   England   False
4  1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

In [6]:
results.sample(5)

             date                         home_team  ...        country  neutral
1352   1931-02-11                          Barbados  ...       Barbados    False
18308  1994-05-25                     United States  ...  United States    False
17607  1993-04-25  Saint Vincent and the Grenadines  ...        Grenada     True
10618  1978-09-20                          Portugal  ...       Portugal    False
8531   1973-04-26                           Denmark  ...        Denmark    False

[5 rows x 9 columns]

In [7]:
# Size of data
display(rank.shape)
display(results.shape)

(57793, 16)

(40839, 9)

In [8]:
# Describe rank data
rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57793 entries, 0 to 57792
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   rank                     57793 non-null  int64
 1   country_full             57793 non-null  object
 2   country_abrv             57793 non-null  object
 3   total_points             57793 non-null  float64
 4   previous_points          57793 non-null  int64
 5   rank_change              57793 non-null  int64
 6   cur_year_avg             57793 non-null  float64
 7   cur_year_avg_weighted    57793 non-null  float64
 8   last_year_avg            57793 non-null  float64
 9   last_year_avg_weighted   57793 non-null  float64
 10  two_year_ago_avg         57793 non-null  float64
 11  two_year_ago_weighted    57793 non-null  float64
 12  three_year_ago_avg       57793 non-null  float64
 13  three_year_ago_weighted  57793 non-null  float64
 14  confederation            57793 non-null  object
 15  rank_date                57793 non-null  object
dtypes: float64(9), int64(3), object(4)
memory usage: 7.1+ MB

In [9]:
rank.describe()

               rank  total_points  ...  three_year_ago_avg  three_year_ago_weighted
count  57793.000000  57793.000000  ...        57793.000000             57793.000000
mean     101.628086    122.068637  ...           59.173916                11.834811
std       58.618424    260.426863  ...          135.533343                27.106675
min        1.000000      0.000000  ...            0.000000                 0.000000
25%       51.000000      0.000000  ...            0.000000                 0.000000
50%      101.000000      0.000000  ...            0.000000                 0.000000
75%      152.000000     92.790000  ...           21.250000                 4.250000
max      209.000000   1775.030000  ...         1200.770000               240.150000

[8 rows x 12 columns]

In [10]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40839 entries, 0 to 40838
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        40839 non-null  object
 1   home_team   40839 non-null  object
 2   away_team   40839 non-null  object
 3   home_score  40839 non-null  int64
 4   away_score  40839 non-null  int64
 5   tournament  40839 non-null  object
 6   city        40839 non-null  object
 7   country     40839 non-null  object
 8   neutral     40839 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.5+ MB

In [11]:
results.describe()

         home_score    away_score
count  40839.000000  40839.000000
mean       1.745709      1.188105
std        1.749145      1.405120
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [12]:
# Check for duplicates
rank.duplicated().sum()

37

In [13]:
# Drop duplicates
rank.drop_duplicates(inplace=True)

In [14]:
results.duplicated().sum()

0

In [15]:
# Check for uniformity in naming
obj_col = ['country_full', 'confederation']

for col in obj_col:
  print(rank[col].unique())

['Germany' 'Italy' 'Switzerland' 'Sweden' 'Argentina'
 'Republic of Ireland' 'Russia' 'Brazil' 'Norway' 'Denmark' 'England'
 'France' 'Spain' 'Mexico' 'RCS' 'Netherlands' 'Nigeria' 'Belgium'
 'Colombia' 'Poland' 'Romania' 'Uruguay' 'Portugal' 'Cameroon' 'Zambia'
 'Egypt' 'Wales' 'USA' "Côte d'Ivoire" 'Scotland' 'Tunisia' 'Greece'
 'Morocco' 'Algeria' 'Ecuador' 'Korea Republic' 'Bulgaria' 'Austria'
 'Costa Rica' 'Northern Ireland' 'Honduras' 'Hungary' 'Japan'
 'Saudi Arabia' 'China PR' 'Canada' 'Finland' 'Ghana' 'Chile' 'Zimbabwe'
 'Qatar' 'Australia' 'Iceland' 'IR Iran' 'United Arab Emirates'
 'Yugoslavia' 'Iraq' 'Senegal' 'Bolivia' 'Kuwait' 'Korea DPR'
 'El Salvador' 'Turkey' 'Gabon' 'Guinea' 'Thailand' 'Paraguay' 'Malawi'
 'Israel' 'Peru' 'Zaire' 'Cyprus' 'Singapore' 'Mali' 'Malaysia' 'Bermuda'
 'Niger' 'Syria' 'Bahrain' 'New Zealand' 'Madagascar' 'Malta' 'Jamaica'
 'Lithuania' 'Trinidad and Tobago' 'Sierra Leone' 'Jordan' 'Kenya'
 'Latvia' 'Yemen' 'Tanzania' 'Albania' 'Angola' 'Venezuela' 'Ethiopia'
 'Burundi' 'Oman' 'Indonesia' 'Liberia' 'Mozambique' 'Puerto Rico'
 'Swaziland' 'Hong Kong' 'Uganda' 'Barbados' 'Myanmar' 'Congo' 'Lebanon'
 'South Africa' 'Luxembourg' 'Faroe Islands' 'Guatemala' 'Burkina Faso'
 'Togo' 'Suriname' 'Fiji' 'Croatia' 'Estonia' 'San Marino' 'Bangladesh'
 'St Vincent and the Grenadines' 'Netherlands Antilles' 'Mauritius'
 'Benin' 'Panama' 'Sudan' 'Antigua and Barbuda' 'Slovenia' 'India'
 'Belarus' 'Ukraine' 'Vietnam' 'Guinea-Bissau' 'Guyana' 'Botswana'
 'St Lucia' 'Tahiti' 'Grenada' 'Haiti' 'Libya' 'Laos' 'Mauritania'
 'Cape Verde Islands' 'Solomon Islands' 'Brunei Darussalam' 'Lesotho'
 'Dominican Republic' 'Pakistan' 'Nicaragua' 'Cuba' 'Seychelles'
 'Central African Republic' 'Gambia' 'Namibia' 'Cayman Islands' 'Nepal'
 'Liechtenstein' 'Equatorial Guinea' 'Chinese Taipei' 'Sri Lanka'
 'Philippines' 'Chad' 'Vanuatu' 'Aruba' 'Bahamas' 'Maldives' 'Macau'
 'Slovakia' 'St Kitts and Nevis' 'Czech Republic' 'Georgia'
 'FYR Macedonia' 'Moldova' 'Armenia' 'Azerbaijan' 'Uzbekistan'
 'Turkmenistan' 'Kazakhstan' 'Tajikistan' 'Kyrgyz Republic' 'Somalia'
 'Djibouti' 'Dominica' 'Rwanda' 'Belize' 'Cambodia'
 'Bosnia and Herzegovina' 'Guam' 'Papua New Guinea' 'Tonga' 'Samoa'
 'Andorra' 'Cook Islands' 'British Virgin Islands' 'Anguilla'
 'São Tomé e Príncipe' 'Eritrea' 'American Samoa' 'Palestine' 'Mongolia'
 'Turks and Caicos Islands' 'US Virgin Islands' 'Montserrat' 'Congo DR'
 'Bhutan' 'Serbia and Montenegro' 'Afghanistan' 'New Caledonia' 'Serbia'
 'Timor-Leste' 'Comoros' 'Montenegro' 'Curaçao' 'South Sudan' 'Kosovo'
 'Gibraltar']
['UEFA' 'CONMEBOL' 'CONCACAF' 'CAF' 'AFC' 'OFC']

In [16]:
obj_col = ['home_team', 'away_team', 'tournament','neutral']

for col in obj_col:
  print(f'Column: {col}')
  print(results[col].unique())
  print('\n')

Column: home_team
['Scotland' 'England' 'Wales' 'Northern Ireland' 'United States' 'Uruguay'
 'Austria' 'Hungary' 'Argentina' 'Belgium' 'France' 'Netherlands'
 'Czechoslovakia' 'Switzerland' 'Sweden' 'Germany' 'Italy' 'Chile'
 'Norway' 'Finland' 'Luxembourg' 'Russia' 'Denmark' 'Catalonia'
 'Basque Country' 'Brazil' 'Japan' 'Paraguay' 'Canada' 'Estonia'
 'Costa Rica' 'Guatemala' 'Spain' 'Brittany' 'Poland' 'Yugoslavia'
 'New Zealand' 'Romania' 'Latvia' 'Galicia' 'Portugal' 'Andalusia'
 'China PR' 'Australia' 'Lithuania' 'Turkey' 'Central Spain' 'Mexico'
 'Aruba' 'Egypt' 'Haiti' 'Philippines' 'Bulgaria' 'Jamaica' 'Kenya'
 'Bolivia' 'Peru' 'Honduras' 'Guyana' 'Uganda' 'Belarus' 'El Salvador'
 'Barbados' 'Republic of Ireland' 'Trinidad and Tobago' 'Greece' 'Curaçao'
 'Dominica' 'Silesia' 'Guadeloupe' 'Israel' 'Suriname' 'French Guiana'
 'Cuba' 'Colombia' 'Ecuador' 'Saint Kitts and Nevis' 'Panama' 'Slovakia'
 'Manchukuo' 'Croatia' 'Nicaragua' 'Afghanistan' 'India' 'Martinique'
 'Zimbabwe' 'Iceland' 'Albania' 'Madagascar' 'Zambia' 'Mauritius'
 'Tanzania' 'Iran' 'Djibouti' 'DR Congo' 'Vietnam' 'Macau' 'Ethiopia'
 'Puerto Rico' 'Réunion' 'Sierra Leone' 'Zanzibar' 'South Korea' 'Ghana'
 'South Africa' 'New Caledonia' 'Fiji' 'Nigeria' 'Venezuela' 'Burma'
 'Sri Lanka' 'Tahiti' 'Gambia' 'Hong Kong' 'Singapore' 'Malaysia'
 'Indonesia' 'Guinea-Bissau' 'German DR' 'Vanuatu' 'Kernow' 'Saarland'
 'Cambodia' 'Lebanon' 'Pakistan' 'Vietnam Republic' 'North Korea' 'Togo'
 'Sudan' 'Malta' 'Syria' 'Tunisia' 'Malawi' 'Morocco' 'Benin' 'Cameroon'
 'Central African Republic' 'Gabon' 'Ivory Coast' 'Congo' 'Mali'
 'North Vietnam' 'Mongolia' 'Chinese Taipei' 'Cyprus' 'Iraq' 'Saint Lucia'
 'Grenada' 'Thailand' 'Senegal' 'Libya' 'Guinea' 'Algeria' 'Kuwait'
 'Jordan' 'Solomon Islands' 'Liberia' 'Laos'
 'Saint Vincent and the Grenadines' 'Bermuda' 'Niger' 'Bahrain'
 'Montenegro' 'Palestine' 'Papua New Guinea' 'Burkina Faso' 'Mauritania'
 'Saudi Arabia' 'Eswatini' 'Somalia' 'Lesotho' 'Cook Islands' 'Qatar'
 'Antigua and Barbuda' 'Faroe Islands' 'Bangladesh' 'Oman' 'Yemen DPR'
 'Burundi' 'Yemen' 'Mozambique' 'Guam' 'Chad' 'Angola'
 'Dominican Republic' 'Seychelles' 'Rwanda' 'São Tomé and Príncipe'
 'Botswana' 'Northern Cyprus' 'Cape Verde' 'Kyrgyzstan' 'Georgia'
 'Azerbaijan' 'Kiribati' 'Tonga' 'Wallis Islands and Futuna'
 'United Arab Emirates' 'Brunei' 'Equatorial Guinea' 'Liechtenstein'
 'Nepal' 'Greenland' 'Niue' 'Samoa' 'American Samoa' 'Belize' 'Anguilla'
 'Cayman Islands' 'Palau' 'Sint Maarten' 'Namibia' 'Åland Islands'
 'Ynys Môn' 'Saint Martin' 'San Marino' 'Slovenia' 'Jersey' 'Shetland'
 'Isle of Wight' 'Moldova' 'Ukraine' 'Kazakhstan' 'Tajikistan'
 'Uzbekistan' 'Turkmenistan' 'Armenia' 'Czech Republic' 'Guernsey'
 'Gibraltar' 'Isle of Man' 'North Macedonia' 'Montserrat' 'Serbia'
 'Canary Islands' 'Bosnia and Herzegovina' 'Maldives' 'Andorra'
 'British Virgin Islands' 'Frøya' 'Hitra' 'U.S. Virgin Islands' 'Corsica'
 'Eritrea' 'Bahamas' 'Gotland' 'Saare County' 'Rhodes' 'Micronesia'
 'Bhutan' 'Orkney' 'Monaco' 'Tuvalu' 'Sark' 'Alderney' 'Mayotte'
 'Turks and Caicos Islands' 'East Timor' 'Western Isles'
 'Falkland Islands' 'Kosovo' 'Republic of St. Pauli' 'Găgăuzia' 'Tibet'
 'Crimea' 'Occitania' 'Sápmi' 'Northern Mariana Islands' 'Menorca'
 'Comoros' 'Provence' 'Arameans Suryoye' 'Padania' 'Iraqi Kurdistan'
 'Gozo' 'Bonaire' 'Western Sahara' 'Raetia' 'Darfur' 'Tamil Eelam'
 'South Sudan' 'Abkhazia' 'St. Pierre & Miquelon' 'Artsakh' 'Madrid'
 'Vatican City' 'Ellan Vannin' 'South Ossetia' 'County of Nice'
 'Székely Land' 'Romani people' 'Felvidék' 'Chagos Islands'
 'United Koreans in Japan' 'Somaliland' 'Western Armenia' 'Barawa'
 'Kárpátalja' 'Yorkshire' 'Panjab' 'Matabeleland' 'Cascadia' 'Kabylia'
 'Timor-Leste' 'Myanmar' 'Parishes of Jersey' 'Chameria' 'Saint Helena'
 'Curacao']


Column: away_team
['England' 'Scotland' 'Wales' 'Northern Ireland' 'Canada' 'Argentina'
 'Hungary' 'Czechoslovakia' 'Uruguay' 'France' 'Austria' 'Switzerland'
 'Netherlands' 'Belgium' 'Germany' 'Norway' 'Sweden' 'Italy' 'Chile'
 'Catalonia' 'Finland' 'Russia' 'Luxembourg' 'Denmark' 'Brazil'
 'Basque Country' 'United States' 'Philippines' 'Estonia' 'Provence'
 'El Salvador' 'Costa Rica' 'Paraguay' 'Yugoslavia' 'Poland' 'Portugal'
 'Spain' 'Romania' 'Australia' 'Central Spain' 'Mexico' 'Galicia'
 'Brittany' 'Asturias' 'China PR' 'New Zealand' 'Latvia' 'Guatemala'
 'Curaçao' 'Bulgaria' 'Lithuania' 'Turkey' 'Egypt' 'South Africa'
 'Jamaica' 'Japan' 'Republic of Ireland' 'Uganda' 'Bolivia' 'Haiti'
 'Trinidad and Tobago' 'Kenya' 'Ukraine' 'Honduras' 'Nicaragua' 'Greece'
 'Guyana' 'Peru' 'Aruba' 'Martinique' 'Barbados' 'Cuba' 'Israel'
 'Indonesia' 'Suriname' 'Saint Lucia' 'Ecuador' 'Venezuela' 'Grenada'
 'India' 'Panama' 'Slovakia' 'Croatia' 'Lebanon' 'Manchukuo' 'Puerto Rico'
 'Iran' 'Guadeloupe' 'Mongolia' 'Colombia' 'Tanzania' 'Zambia'
 'Montenegro' 'Mauritius' 'Zimbabwe' 'French Guiana' 'Réunion' 'Albania'
 'Zanzibar' 'Ethiopia' 'Madagascar' 'Dominica' 'South Korea' 'Djibouti'
 'Dominican Republic' 'Cyprus' 'Iceland' 'Nigeria' 'Syria' 'DR Congo'
 'Serbia' 'Chinese Taipei' 'Afghanistan' 'Vanuatu' 'Ghana' 'Pakistan'
 'German DR' 'Sierra Leone' 'Guinea-Bissau' 'Gambia' 'Saarland' 'Tahiti'
 'Burundi' 'Sri Lanka' 'Thailand' 'Burma' 'New Caledonia' 'Cambodia'
 'Malaysia' 'Vietnam Republic' 'Kyrgyzstan' 'Belarus' 'Moldova'
 'North Vietnam' 'Togo' 'North Korea' 'Sudan' 'Libya' 'Hong Kong'
 'Singapore' 'Malta' 'Benin' 'Cape Verde' 'Mali' 'Burkina Faso'
 'Ivory Coast' 'Cameroon' 'Iraq' 'Tunisia' 'Morocco'
 'Saint Vincent and the Grenadines' 'Guinea' 'Congo' 'Gabon' 'Malawi'
 'Jordan' 'Senegal' 'Kuwait' 'Papua New Guinea' 'Solomon Islands'
 'Liberia' 'Somalia' 'Laos' 'Saudi Arabia' 'Algeria' 'Chad'
 'Central African Republic' 'Bermuda' 'Palestine' 'Yemen' 'Bahrain'
 'Wallis Islands and Futuna' 'Niger' 'Corsica' 'Western Australia'
 'Botswana' 'Fiji' 'Eswatini' 'Qatar' 'Lesotho' 'Bahamas' 'Brunei'
 'Cook Islands' 'Yemen DPR' 'United Arab Emirates' 'Faroe Islands' 'Nepal'
 'Antigua and Barbuda' 'Bangladesh' 'Seychelles' 'Oman'
 'Equatorial Guinea' 'Mozambique' 'Mauritania' 'Angola'
 'São Tomé and Príncipe' 'Macau' 'Saint Kitts and Nevis' 'Armenia'
 'Kazakhstan' 'Tonga' 'Kiribati' 'Tuvalu' 'Samoa' 'Greenland'
 'Northern Cyprus' 'Rwanda' 'Liechtenstein' 'Bhutan' 'American Samoa'
 'Cayman Islands' 'British Virgin Islands' 'Sint Maarten' 'Ynys Môn'
 'Shetland' 'Åland Islands' 'Saint Martin' 'San Marino' 'Montserrat'
 'Anguilla' 'Guernsey' 'Isle of Wight' 'Jersey' 'Georgia' 'Guam'
 'Turkmenistan' 'Slovenia' 'Uzbekistan' 'Eritrea' 'Tajikistan' 'Namibia'
 'Azerbaijan' 'Czech Republic' 'Vietnam' 'Isle of Man' 'Gibraltar'
 'North Macedonia' 'Belize' 'Bosnia and Herzegovina' 'Maldives' 'Andorra'
 'Frøya' 'Hitra' 'Northern Mariana Islands' 'Kernow'
 'Turks and Caicos Islands' 'U.S. Virgin Islands' 'Micronesia'
 'Saare County' 'Rhodes' 'Tibet' 'Orkney' 'Falkland Islands' 'Mayotte'
 'Monaco' 'Vatican City' 'East Timor' 'Gotland' 'Alderney' 'Sark'
 'Western Isles' 'Sápmi' 'Crimea' 'Comoros' 'Menorca' 'Iraqi Kurdistan'
 'Padania' 'Arameans Suryoye' 'Occitania' 'Gozo' 'Two Sicilies'
 'St. Pierre & Miquelon' 'Bonaire' 'Western Sahara' 'Raetia' 'Darfur'
 'Tamil Eelam' 'Artsakh' 'Abkhazia' 'South Sudan' 'Andalusia'
 'South Ossetia' 'County of Nice' 'Ellan Vannin' 'Romani people'
 'Felvidék' 'Chagos Islands' 'Székely Land' 'Somaliland' 'Western Armenia'
 'Panjab' 'Kosovo' 'Kárpátalja' 'Yorkshire' 'Surrey' 'Cascadia'
 'Matabeleland' 'Kabylia' 'United Koreans in Japan' 'Timor-Leste'
 'Myanmar' 'Barawa' 'Parishes of Jersey' 'Chameria' 'Saint Helena'
 'Curacao']


Column: tournament
['Friendly' 'British Championship' 'Copa Lipton' 'Copa Newton'
 'Copa Premio Honor Argentino' 'Copa Premio Honor Uruguayo' 'Copa Roca'
 'Copa América' 'Copa Chevallier Boutell' 'Nordic Championship'
 'International Cup' 'Baltic Cup' 'Balkan Cup' 'FIFA World Cup'
 'Copa Rio Branco' 'FIFA World Cup qualification' 'CCCF Championship'
 'NAFU Championship' 'Copa Oswaldo Cruz' 'Pan American Championship'
 'Copa del Pacífico' "Copa Bernardo O'Higgins"
 'AFC Asian Cup qualification' 'Atlantic Cup' 'AFC Asian Cup'
 'African Cup of Nations' 'Copa Paz del Chaco' 'Merdeka Tournament'
 'UEFA Euro qualification' 'UEFA Euro' 'Windward Islands Tournament'
 'African Cup of Nations qualification' 'Vietnam Independence Cup'
 'Copa Carlos Dittborn' 'CONCACAF Championship' 'Copa Juan Pinto Durán'
 'UAFA Cup' 'South Pacific Games' 'CONCACAF Championship qualification'
 'Copa Artigas' 'GaNEFo' "King's Cup" 'Gulf Cup' 'Indonesia Tournament'
 'Korea Cup' 'Brazil Independence Cup' 'Copa Ramón Castilla'
 'Oceania Nations Cup' 'CECAFA Cup' 'Copa Félix Bogado' 'Kirin Cup'
 'CFU Caribbean Cup qualification' 'CFU Caribbean Cup'
 'Amílcar Cabral Cup' 'Mundialito' 'West African Cup' 'Nehru Cup'
 'Merlion Cup' 'UDEAC Cup' 'Rous Cup' 'Lunar New Year Cup'
 'Tournoi de France' 'Malta International Tournament' 'Island Games'
 'Dynasty Cup' 'UNCAF Cup' 'Gold Cup' 'USA Cup'
 'Jordan International Tournament' 'Confederations Cup'
 'United Arab Emirates Friendship Tournament'
 'Oceania Nations Cup qualification' 'Simba Tournament' 'SAFF Cup'
 'AFF Championship' 'King Hassan II Tournament'
 'Cyprus International Tournament' 'Dunhill Cup' 'COSAFA Cup'
 'Gold Cup qualification' 'SKN Football Festival' 'UNIFFAC Cup'
 'WAFF Championship' 'Millennium Cup' "Prime Minister's Cup"
 'EAFF Championship' 'AFC Challenge Cup' 'FIFI Wild Cup' 'ELF Cup'
 'Viva World Cup' 'UAFA Cup qualification'
 'AFC Challenge Cup qualification' 'African Nations Championship'
 'VFF Cup' 'Dragon Cup' 'ABCS Tournament' 'Nile Basin Tournament'
 'Nations Cup' 'Pacific Games' 'OSN Cup' 'CONIFA World Football Cup'
 'CONIFA European Football Cup' 'Copa América qualification'
 'World Unity Cup' 'Intercontinental Cup' 'AFF Championship qualification'
 'UEFA Nations League' 'Atlantic Heritage Cup'
 'Inter Games Football Tournament']


Column: neutral
[False  True]

### Data Analysis

In [17]:
# Create a status column which indicates if home team wins or loses
conditions = [
              results['home_score'] > results['away_score'],
              results['home_score'] < results['away_score'],
              results['home_score'] == results['away_score']
]

values = ['Win', 'Loss', 'Draw']

results['game_status_home'] = np.select(conditions, values)

In [18]:
# Convert date column to date
results['date'] = pd.to_datetime(results['date'])
rank['rank_date'] = pd.to_datetime(rank['rank_date'])

In [19]:
# Determine years in rank data
rank['rank_date'].dt.year.unique()

array([1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018])

In [20]:
# Determine years in results data:
results['date'].dt.year.unique()

array([1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882,
       1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893,
       1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904,
       1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915,
       1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926,
       1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937,
       1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948,
       1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019])

In [21]:
# Add year and month variables
rank['year'] = rank['rank_date'].dt.year
rank['month'] = rank['rank_date'].dt.month

In [22]:
results['year'] = results['date'].dt.year
results['month'] = results['date'].dt.month

In [23]:
# Sort ranking data by country name, year and month columns
rank.sort_values(by=['country_full', 'year','month'], inplace=True)

In [24]:
# Create index
country_rankings = list(zip(rank['country_full'], rank['year'], rank['month'])) 
rankings = rank['rank'].values

In [35]:
index = pd.MultiIndex.from_tuples(country_rankings)
index.names = ['country', 'year','month']

In [36]:
rank_only = pd.Series(rankings, index=country_rankings)
rank_only = rank_only.reindex(index)

In [37]:
# Make sure that only matches that have rank data are in results
results = results[results['year'].isin(rank['year'].unique())]

In [81]:
def rank_checker(country, year, month, ranker):
  if country in ranker[:,year,month].index:
    return ranker[country,year,month]
  else:
    return 'Unknown'

In [82]:
# Get rank of each home team at time of match
results['home_team_rank'] = results.apply(lambda row: rank_checker(row['home_team'], row['year'], row['month'], rank_only),axis=1)
results['away_team_rank'] = results.apply(lambda row: rank_checker(row['away_team'], row['year'], row['month'], rank_only),axis=1)

In [83]:
# Drop rows where rank is unknown
rank_results = results[results.home_team_rank != 'Unknown']
rank_results = rank_results[rank_results.away_team_rank != 'Unknown']

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:57: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = libops.scalar_compare(x.ravel(), y, op)

In [99]:
rank_results.away_team_rank.value_counts()

1             155
26            145
2             143
6             141
4             138
             ...
[20, 20]        1
[63, 67]        1
[120, 127]      1
[100, 87]       1
[2, 2]          1
Name: away_team_rank, Length: 258, dtype: int64

It appears that some teams have multiple away team ranks in the results data, could there be duplication in the data?

In [104]:
multiple_ranks = []
for i in rank_results.away_team_rank.value_counts().index.to_list():
  if type(i) is np.ndarray:
    multiple_ranks.append(i)

In [105]:
rank_results[rank_results['away_team_rank'].isin(multiple_ranks)]

            date               home_team  ... home_team_rank  away_team_rank
31932 2010-03-02     Republic of Ireland  ...       [39, 44]          [2, 2]
31933 2010-03-03                 Albania  ...       [96, 83]        [39, 50]
31934 2010-03-03                 Algeria  ...       [32, 27]        [13, 15]
31935 2010-03-03                  Angola  ...       [86, 86]        [47, 46]
31936 2010-03-03                 Armenia  ...     [103, 106]        [79, 80]
31937 2010-03-03               Australia  ...       [23, 19]      [137, 138]
31938 2010-03-03                 Austria  ...       [56, 55]        [33, 34]
31939 2010-03-03                 Belgium  ...       [68, 66]        [11, 10]
31940 2010-03-03  Bosnia and Herzegovina  ...       [49, 47]        [28, 31]
31941 2010-03-03                  Cyprus  ...       [66, 70]        [91, 90]
31942 2010-03-03             El Salvador  ...       [72, 74]      [129, 115]
31943 2010-03-03                 England  ...         [8, 7]        [17, 14]
31944 2010-03-03                  France  ...         [7, 8]          [1, 1]
31945 2010-03-03                 Georgia  ...     [124, 118]       [97, 100]
31946 2010-03-03                 Germany  ...         [5, 6]          [9, 9]
31947 2010-03-03                  Greece  ...       [10, 11]        [94, 72]
31948 2010-03-03               Hong Kong  ...     [142, 140]      [107, 108]
31949 2010-03-03                 Hungary  ...       [48, 52]        [12, 12]
31951 2010-03-03                   Italy  ...         [4, 5]        [20, 20]
31953 2010-03-03                   Japan  ...       [46, 45]        [63, 67]
31954 2010-03-03                  Jordan  ...     [106, 102]      [120, 127]
31955 2010-03-03              Kazakhstan  ...     [127, 129]       [100, 87]
31956 2010-03-03                   Libya  ...     [116, 101]        [54, 57]
31957 2010-03-03              Luxembourg  ...     [126, 124]      [109, 110]
31959 2010-03-03                   Malta  ...     [150, 158]        [52, 54]
31960 2010-03-03                  Mexico  ...       [15, 17]        [80, 79]
31961 2010-03-03              Mozambique  ...       [84, 89]      [119, 116]
31964 2010-03-03                    Oman  ...       [93, 96]        [88, 94]
31965 2010-03-03                  Poland  ...       [59, 59]        [30, 38]
31966 2010-03-03                Portugal  ...         [6, 4]        [83, 84]
31967 2010-03-03                 Romania  ...       [36, 32]        [26, 28]
31968 2010-03-03                Scotland  ...       [45, 41]        [25, 30]
31969 2010-03-03                Slovakia  ...       [31, 33]        [33, 24]
31970 2010-03-03                Slovenia  ...       [27, 29]        [92, 97]
31971 2010-03-03            South Africa  ...       [81, 88]      [111, 112]
31972 2010-03-03             Switzerland  ...       [15, 20]        [19, 18]
31973 2010-03-03                   Syria  ...      [101, 97]      [149, 149]
31974 2010-03-03                Tanzania  ...     [108, 109]        [74, 74]
31975 2010-03-03                  Turkey  ...       [41, 35]        [35, 36]
31976 2010-03-03              Uzbekistan  ...       [75, 95]      [115, 102]
31977 2010-03-03               Venezuela  ...       [49, 48]        [78, 76]
31978 2010-03-03                   Wales  ...       [76, 77]        [42, 40]
31979 2010-03-03                Zimbabwe  ...     [117, 113]        [82, 81]
31981 2010-03-07                   Niger  ...     [164, 165]        [65, 61]
31983 2010-03-21                 Iceland  ...       [91, 90]      [118, 125]
31984 2010-03-21                 Namibia  ...     [111, 112]      [119, 116]
31986 2010-03-24                  Mexico  ...       [15, 17]        [91, 90]
31987 2010-03-31                   Chile  ...       [14, 13]        [49, 48]
31988 2010-03-31                Paraguay  ...       [29, 23]        [81, 88]

[49 rows x 14 columns]

In [106]:
rank[(rank.country_full=='Brazil') & (rank.year ==  2010) & (rank.month == 3)]

       rank country_full country_abrv  ...  rank_date  year  month
36862     2       Brazil          BRA  ... 2010-03-03  2010      3
37069     2       Brazil          BRA  ... 2010-03-31  2010      3

[2 rows x 18 columns]

Teams that had matches in March 2010 seem to have double rankings. To address this, select the ranking at the beginning of the month.

In [107]:
rank_results['away_team_rank'].dtype

dtype('O')